{% extends "index.html" %}
{% block content %}
{% load static %}

	<!-- Body Start -->
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">User Dashboard</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-group">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="user-dt">
							<div class="user-img">
								{% if customer.profile_image%}
								<img src="{{customer.profile_image.url}}" alt="">
								{% else %}
								<img  alt="">
								{% endif %}
							</div>
							<h4 style="text-transform: uppercase;">{{user}}</h4>
							<p>+91{{user.last_name}}</p>
							<div class="earn-points"><img src="images/Dollar.svg" alt="">Refferal Link : <span style="color: blue;"><a>{{ request.META.HTTP_HOST }}/{{"reffral_signup"}}/{{customer.reff_code}}</a></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="left-side-tabs">
							<div class="dashboard-left-links">
								<a href="{% url 'dashboard' %}"  class="user-item active"><i class="uil uil-apps"></i>Overview</a>
								<a href="{% url 'dashboard_orders' %}" class="user-item"><i class="uil uil-box"></i>My Orders</a>
								<a href="#" class="user-item"><i class="uil uil-wallet "></i>My Wallet</a>
								<a href="{% url 'dashboard_my_profile'%}" class="user-item"><i class="uil uil-user-plus"></i>My Profile</a>
								<a href="{% url 'dashboard_address' %}" class="user-item"><i class="uil uil-location-point"></i>My Address</a>
								<a href="{%url 'logoutview'%}" class="user-item"><i class="uil uil-exit"></i>Logout</a>
							</div>
						</div>
					</div>

					<div class="col-lg-9 col-md-8">
						<div class="dashboard-right">
							<div class="row">
								<div class="col-md-12">
									<div class="main-title-tab">
										<h4><i class="uil uil-apps"></i>Overview</h4>
									</div>
									<div class="welcome-text">
										<h2>Hi! {{user}}</h2>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="pdpt-bg">
										<div class="pdpt-title">
											<h4>My Rewards</h4>
										</div>
										<div class="ddsh-body">
											{% if customer.refferd_user %}
											<h2> Refral Reward Activated</h2>
											<ul>
												<li>
													<a href="" class="small-reward-dt hover-btn">You will get 10% off for your first purchase </a>
												</li>
												
											
											</ul>
											
											{% else %}
											<h2> No Refral Rewards Earned</h2>
										{% endif %}
								
						
										</div>
										<a href="#" class="more-link14">Rewards and Details <i class="uil uil-angle-double-right"></i></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-12">
									<div class="pdpt-bg">
										<div class="pdpt-title">
											<h4>My Orders</h4>
										</div>
										<div class="ddsh-body">
											<h2>{{oc}} Recently Purchases</h2>
											<ul class="order-list-145">
												<li>
												
												</li>
											</ul>
										</div>
										<a href="#" class="more-link14">All Orders <i class="uil uil-angle-double-right"></i></a>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="pdpt-bg">
										<div class="pdpt-title">
											<h4>My Wallet</h4>
										</div>
										<div class="wllt-body">
											<h2>Refral Bonus <i class="fas fa-rupee-sign"></i> {{reward}}</h2>
											<ul class="wallet-list">
												
											</ul>
										</div>
										<a href="#" class="more-link14">Rewards and Details <i class="uil uil-angle-double-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					
				</div>	
			</div>	
		</div>	
	</div>
	<!-- Body End -->








{% endblock content %}