{% extends "index.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'user/css/image.css'%}">
<!-- Body Start -->
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="all-product-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-dt-view">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div id="sync1" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img class="drift-demo-trigger" data-zoom="{{product.product_image.url}}" src="{{product.product_image.url}}" alt="">
                                    </div>
                                   {% for images in product_images%}
                                    <div class="item">
                                        <img class="drift-demo-trigger" data-zoom="{{images.image.url}}" src="{{images.image.url}}" alt="">
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                                <div id="sync2" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img class="drift-demo-trigger" data-zoom="{{product.product_image.url}}" src="{{product.product_image.url}}" alt="">
                                    </div>
                                    {% for images in product_images%}
                                    <div class="item">
                                        
                                        <img class="drift-demo-trigger"  data-zoom="{{images.image.url}}" src="{{images.image.url}}" alt="">
                                    </div>
                                    {% endfor %}    
                                    
                                
                                </div>
                            </div>
                                        
                                    
                            <div class="col-lg-8 col-md-8">
                                <div class="product-dt-right details">
                                    <h2>{{product.name}}</h2>
                                    <div class="no-stock">
                                        <p class="pd-no">Product No.<span>{{product.id}}</span></p>
                                        <p class="stock-qty">Available Stock<span>({{product.stock}})</span></p>
                                    </div>
                                    <div class="product-radio">
                                        <ul class="product-now">
                                            
                                        </ul>
                                    </div>
                                    <p class="pp-descp">{{product.description}}</p>
                                    <div class="product-group-dt">
                                        <ul>
                                                {% if product.offer_price == 0 %}
                                                <li><div class="main-price color-discount">MRP price<span><i class="fas fa-rupee-sign"> </i>  {{product.newprice}}</span></div></li>
                                                {% else %}
                                            	<li><div class="main-price color-discount">Discount Price<span><i class="fas fa-rupee-sign"> </i>  {{product.newprice}}</span></div></li>
                                                <li><div class="main-price mrp-price">MRP Price<span><i class="fas fa-rupee-sign"> </i><del> {{product.offer_price}}</del> </span></div></li>
                                                {% endif %}
                                        </ul>
                                        <ul class="gty-wish-share">
                                            <li>
                                                <!-- <div class="qty-product">
                                                    <div class="quantity buttons_added">
                                                        <input type="button" value="-" class="minus minus-btn">
                                                        <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                                                        <input type="button" value="+" class="plus plus-btn">
                                                    </div>
                                                </div> -->
                                            </li>
                                           
                                        </ul>
                                        <ul class="ordr-crt-share">
                                            <li><button data-products="{{product.id}}" data-action="add"  class="add-cart-btn hover-btn update-cart"><i class="uil uil-shopping-cart-alt "></i>Add to Cart</button></li>
                                            <!-- <li><button class="order-btn hover-btn">Order Now</button></li> -->
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

</div>
<!-- Body End -->



<script src="https://awik.io/demo/webshop-zoom/Drift.min.js"></script>
<script>
    new Drift(document.querySelector('.drift-demo-trigger'), {
        paneContainer: document.querySelector('.details'),
        inlinePane: 769,
        inlineOffsetY: -85,
        containInline: true,
        hoverBoundingBox: true
    });
</script>





{% endblock content %}