{% extends "index.html" %}
{% block content %}
{% load static %}


	<!-- Body Start -->
	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">All Products</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product-top-dt">
							<div class="product-left-title">
								<h2>All Products</h2>
							</div>
							<a href="#" class="filter-btn pull-bs-canvas-right">Filters</a>
							<div class="product-sort">
								<div class="ui selection dropdown vchrt-dropdown">
									<input name="gender" type="hidden" value="default">
									<i class="dropdown icon d-icon"></i>
									<div class="text">Popularity</div>
									<div class="menu">
										<div class="item" data-value="0">Popularity</div>
										<div class="item" data-value="1">Price - Low to High</div>
										<div class="item" data-value="2">Price - High to Low</div>
										<div class="item" data-value="3">Alphabetical</div>
										<div class="item" data-value="4">Saving - High to Low</div>
										<div class="item" data-value="5">Saving - Low to High</div>
										<div class="item" data-value="6">% Off - High to Low</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
                
				<div class="product-list-view">
					<div class="row">
						{% for products in product%}
						
						<div class=" col-lg-3 col-md-6">
										<div class="product-item mb-30">
											<a href="{% url 'product_view' products.id%}" class="product-img">

												<img src="{{products.product_image.url}}" alt="">

												<div class="product-absolute-options">
													<span class="offer-badge-1">6% off</span>
													<span class="like-icon" title="wishlist"></span>
												</div>

												<div class="product-text-dt">
													<p>Available<span>({{products.stock}})</span></p>
													<h4>{{products.name}}</h4>
													<div class="product-price"><i class="fas fa-rupee-sign"></i>
														{{products.newprice}} </div>
													<div class="qty-cart">
														<!-- <div class="quantity buttons_added">
															<input type="button" value="-" class="minus minus-btn">
															<input type="number" step="1" name="quantity" value="1"
																class="input-text qty text">
															<input type="button" value="+" class="plus plus-btn">
														</div> -->




													</div>
												</div>
											</a>
											<button data-products={{products.id}} data-action="add"
												class="btn btn-success update-cart"><span class="cart-icon"><i
														class="uil uil-shopping-cart-alt"></i></span></button>
										</div>
						</div>
						{% endfor %}
						<div class="col-md-12">
							<div class="more-product-btn">

							</div>
						</div>
					</div>
			</div>
		</div>
		</div>
		</div>
		<!-- Body End -->
	
	
		{% endblock content %}