{% extends "dealer/dealer_dashboard.html" %}
{% block content %}
{% load static %}

<style>
    .profile-image img {
        margin-bottom: 1.5rem;
    }

    .change-photo-btn {
        background-color: hsl(212, 87%, 35%);
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 13px;
        font-weight: 600;
        margin: 0 auto;
        padding: 10px 15px;
        position: relative;
        transition: .3s;
        text-align: center;
        width: 220px;
    }

    .change-photo-btn input.upload {
        bottom: 0;
        cursor: pointer;
        filter: alpha(opacity=0);
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 220px;
    }

    .dropzone {
        background-color: #fbfbfb;
        border: 2px dashed rgba(0, 0, 0, 0.1);
    }

    .btn-icon {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        position: absolute;
        padding: 0;
        font-size: 10px;
        width: 20px;
        height: 20px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        right: 3px;
        top: 3px;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    }

    .upload-images {
        position: relative;
        width: 80px;
    }

    .upload-images img {
        border-radius: 4px;
        height: 80px;
        width: auto;
    }

    .upload-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .upload-wrap .upload-images+.upload-images {
        margin-left: 20px;
    }

    .contact-card .card-body {
        padding-bottom: 0.625rem;
    }

    .custom_price_cont {
        margin-top: 20px;
    }

    .btn.btn-danger.trash {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 46px;
        width: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    }

    .add-more a {
        color: #20c0f3;
    }

    .bootstrap-tagsinput {
        border-color: #dcdcdc;
        box-shadow: inherit;
        min-height: 46px;
        width: 100%;
        border-radius: 0;
    }

    .bootstrap-tagsinput.focus {
        border-color: #bbb;
    }

    .bootstrap-tagsinput .tag {
        background-color: hsl(212, 87%, 35%);
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        margin-right: 2px;
        padding: 11px 15px;
        border-radius: 0;
    }

    .services-card .bootstrap-tagsinput input {
        width: 160px;
    }

    .submit-section .submit-btn {
        padding: 12px 30px;
        font-weight: 600;
        font-size: 16px;
        min-width: 120px;
    }

    .submit-section .submit-btn+.submit-btn {
        margin-left: 15px;
    }

    .container-fluid {
        padding-top: 20px;
    }

    h1 {
        text-align: center;
        font-family: monospace;
        font-size: 0.8cm;
    }

    .hai {
        text-align: center;
        font-family: monospace;
        font-size: 0.6cm;


    }

    button {}

    .bb {

        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 500px;
    }

    .page {
        margin: 1em auto;
        max-width: 768px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }

    .box {
        padding: 0.5em;
        width: 100%;
        margin: 0.5em;
    }

    .box-2 {
        padding: 0.5em;
        width: calc(100%/2 - 1em);
    }

    .options label,
    .options input {

        width: 10em;
        padding: 0.5em 1em;
    }

    .btn {

        padding: 0.5em 1em;
        text-decoration: none;
        margin: 0.8em 0.3em;
        display: inline-block;
        cursor: pointer;
        color: rgb(255, 255, 255);

        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }


    .hide {
        display: none;
    }

    img {
        max-width: 100%;

    }

    .images {

        padding-top: 50px;
        padding-left: 100px;
    }

    .confirm {
        margin-bottom: 100px;
    }
</style>

<div class="content-wrapper">
    <div class="content">
        <div class="breadcrumb-wrapper breadcrumb-contacts">
            <div>
                <h1>Products</h1>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0">


                    </ol>
                </nav>

            </div>
            <div style="text-align: end;" class="pb-2">
                <button type="button" class="btn blue-gradient" data-toggle="modal" data-target="#modal-add-contact">
                    Add Products
                </button>
            </div>
        </div>

        <div class="row">
            {% for products in product %}
            <div class="col-lg-6 col-xl-4">
                <div class="card card-default p-4">
                    <a href="" class="media text-secondary" data-toggle="modal"
                        data-target="#modal-contact">
                        <img src="{{products.product_image.url}}" class="mr-3 img-fluid rounded" width="100px"
                            height="100px" alt="Avatar Image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-2 text-dark">{{products.name}}</h5>
                            <ul class="list-unstyled">
                                <li class="d-flex mb-1">
                                    <i class="mdi mdi-coin mr-1"></i>
                                    <span>Price :{{products.newprice}}</span>
                                </li>
                                <li class="d-flex mb-1">
                                    <i class="mdi mdi-cloud-print mr-1"></i>
                                    <span>Stock :{{products.stock}}</span>
                                </li>
                                <li class="d-flex mb-1">
                                    <i class="mdi mdi-carrot mr-1"></i>
                                    <span>Catogery :{{products.product_category}}</span>
                                </li>
                                <li class="d-flex mb-1">
                                    <i class="mdi mdi-chart-pie mr-1"></i>
                                    <span>Type :{{products.product_type}}</span>
                                    <!-- <a href=""><i class="fas fa-edit"></i></a> -->
                                </li>


                            </ul>
                        </div>
                    </a>
                    <div style="text-align: right;">
                        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-contact"><span><i class="fas fa-edit"></i></span></a>
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#exampleModal"><i
                                class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete <i class="fas fa-minus-circle"
                                        style="color: red;"></i></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the products?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn- btn-danger"
                                    href="{% url 'delete_product' products.id  %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //m odel -->
                      <!-- Add Contact Button  -->
        <div class="modal fade" id="modal-edit-contact" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="padding-left: 150px;" role="document">
            <div class="modal-content">
                <form action="{% url 'add_products'%}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header px-4">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Please asfdsafsa New Product</h5>
                    </div>
                    <div class="modal-body px-4">

                        <div class="row">
                            <div class="col-lg-6">
                                <img class="pb-2" id="output" />

                                <div class="upload-img">
                                    <div class="change-photo-btn">
                                        <span><i class="fa fa-upload"></i> Upload Photo 1</span>


                                        <input type="file" class='upload' accept="image/*" name="image1"
                                            onchange="loadFile(event)" required=True id="file-input">
                                    </div>
                                    <button id="load" type="button" aria-required="true"
                                        class="btn save hide ">Confirm</button>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img class="pb-2" id="output1" />
                                <div class="upload-img">
                                    <div class="change-photo-btn">
                                        <span><i class="fa fa-upload"></i> Upload Photo 2</span>
                                        <input type="file" class='upload' accept="image/*" name="image2"
                                            onchange="loadFile1(event)" id="file-input">
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img class="pb-2" id="output2" />

                                <div class="upload-img">
                                    <div class="change-photo-btn">
                                        <span><i class="fa fa-upload"></i> Upload Photo 3</span>
                                        <input type="file" class='upload' accept="image/*" name="image3"
                                            onchange="loadFile2(event)" id="file-input">
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6  ">
                                <img class="pb-2" id="output3" />
                                <div class="upload-img">

                                    <div class="change-photo-btn">
                                        <span><i class="fa fa-upload"></i> Upload Photo 4</span>
                                        <input type="file" class='upload' accept="image/*" name="image4"
                                            onchange="loadFile3(event)" id="file-input">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="upload-img">
                            </div>

                        </div>

                        <div class="form-group row mb-6">

                            <div class="col-sm-8 col-lg-10">
                                <div class="custom-file mb-1">

                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="firstName">Name of the product</label>
                                    <input type="text" value="{{products.name}}" name="product_name" required class="form-control" required
                                        id="firstName" placeholder="Albrecht">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="lastName">Price of the product</label>
                                    <input type="number" value="{{products.stock}}" name="product_price" class="form-control" required
                                        id="lastName" placeholder="$$$$">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <label for="userName">Product Catogery</label>
                                    <select class="form-control" name="product_catogery" required>
                                        <option value=""></option>
                                        <option value="Fruits">Fruits</option>
                                        <option value="Vegetables">Vegetables</option>
                                        <option value="Dairys">Dairys</option>
                                        <option value="Rice">Rice</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <label for="email">Product Type</label>
                                    <select class="form-control" name="product_type" required>
                                        <option value=""></option>
                                        <option value="Items">Items</option>
                                        <option value="Kilogram">Kilogram</option>
                                        <option value="Liter">Liter</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <label for="Birthday">Product Stock</label>
                                    <input type="number" class="form-control" required name="product_stock"
                                        placeholder="Stock">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group mb-4">
                                    <label for="event">Product Discription</label>
                                    <textarea name="product_discription" class="form-control" required
                                        placeholder="product discription"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer px-4">
                        <button type="button" class="btn btn-secondary btn-pill"
                            data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-pill">Add product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- asdfsadfdasf -->
            </div>
            {% endfor%}


        </div>

        {% for products in product %}
        <!-- Contact Modal -->
        <div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-end border-bottom-0">
                        <button type="button" class="btn-edit-icon" data-dismiss="modal" aria-label="Close">
                            <i class="mdi mdi-pencil"></i>
                        </button>
                        <div class="dropdown">
                            <button class="btn-dots-icon" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <button type="button" class="btn-close-icon" data-dismiss="modal" aria-label="Close">
                            <i class="mdi mdi-close"></i>
                        </button>
                    </div>
                    <div class="modal-body pt-0">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="profile-content-left px-4">
                                    <div class="card text-center widget-profile px-0 border-0">
                                        <div class="card-img mx-auto rounded-circle">
                                            <img src="assets/img/user/u6.jpg" alt="user image">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="py-2 text-dark">{{products.name}}</h4>
                                            <p>Albrecht.straub@gmail.com</p>
                                            <a class="btn btn-primary btn-pill btn-lg my-4" href="#">Follow</a>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between ">
                                        <div class="text-center pb-4">
                                            <h6 class="text-dark pb-2">1503</h6>
                                            <p>Friends</p>
                                        </div>
                                        <div class="text-center pb-4">
                                            <h6 class="text-dark pb-2">2905</h6>
                                            <p>Followers</p>
                                        </div>
                                        <div class="text-center pb-4">
                                            <h6 class="text-dark pb-2">1200</h6>
                                            <p>Following</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-info px-4">
                                    <h4 class="text-dark mb-1">Contact Details</h4>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Email address</p>
                                    <p>Albrecht.straub@gmail.com</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Phone Number</p>
                                    <p>+99 9539 2641 31</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Birthday</p>
                                    <p>Nov 15, 1990</p>
                                    <p class="text-dark font-weight-medium pt-4 mb-2">Event</p>
                                    <p>Lorem, ipsum dolor</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endfor %}
        <!-- Add Contact Button  -->
        <div class="modal fade" id="modal-add-contact" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" style="padding-left: 150px;" role="document">
                <div class="modal-content">
                    <form action="{% url 'add_products'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header px-4">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Please Add New Product</h5>
                        </div>
                        <div class="modal-body px-4">

                            <div class="row">
                                <div class="col-lg-6">
                                    <img class="pb-2" id="output" />
                                    <div id="images">
                                        <!-- <input type="file"  name="file[]"
                                         required=True ><br><br>  -->
                                         <h4 style="padding-bottom: 20px;">Main image</h4>
                                          <input type="file"  name="image1"
                                         required=True ><br><br><h4 style="padding-bottom: 20px;">Sub image</h4>


                                </div> 
                                </div>
                         
                            
                               
                         

                            </div>
                           
                            <input type="button" name="add_image" id="add_image" value="Add Image">

                            <div class="form-group row mb-6">

                                <div class="col-sm-8 col-lg-10">
                                    <div class="custom-file mb-1">

                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="firstName">Name of the product</label>
                                        <input type="text" name="product_name" required class="form-control" required
                                            id="firstName" placeholder="Albrecht">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="lastName">Price of the product</label>
                                        <input type="number" name="product_price" class="form-control" required
                                            id="lastName" placeholder="$$$$">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="userName">Product Catogery</label>
                                        <select class="form-control" name="product_catogery" required>
                                            <option value=""></option>
                                            {% for catog in catogery%}
                                            <option value="{{catog.cat_name}}">{{catog.cat_name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="email">Product Type</label>
                                        <select class="form-control" name="product_type" required>
                                            <option value=""></option>
                                            <option value="Items">Items</option>
                                            <option value="Kilogram">Kilogram</option>
                                            <option value="Liter">Liter</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="Birthday">Product Stock</label>
                                        <input type="number" class="form-control" required name="product_stock"
                                            placeholder="Stock">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group mb-4">
                                        <label for="event">Product Discription</label>
                                        <textarea name="product_discription" class="form-control" required
                                            placeholder="product discription"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer px-4">
                            <button type="button" class="btn btn-secondary btn-pill"
                                data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-pill">Add product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  



    </div>





</div>
<!-- fsdfdsafdasfads -->






</div>



<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
<script>
    var loadFile1 = function (event) {
        var output = document.getElementById('output1');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
<script>
    var loadFile2 = function (event) {
        var output = document.getElementById('output2');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
<script>
    var loadFile3 = function (event) {
        var output = document.getElementById('output3');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
<script>

    document.getElementById("add_image").onclick=function (ev) {

        var image = document.getElementById("images");
        

        var preview = document.createElement("img");
        preview.style.width='150px';
        preview.style.height='100px';
        preview.style.paddingBottom='20px';
        
        var newInput = document.createElement("input");
        newInput.type = "file";
        newInput.name = "file[]";   
        

        var br = document.createElement("br");
        var br1 = document.createElement("br");

        newInput.onchange=function (ev1) {

            if (this.files && this.files[0]){
                var fileReader=new FileReader();

                fileReader.onload=function (ev2){

                    preview.src=ev2.target.result;

                };

                fileReader.readAsDataURL(this.files[0])
            }
            
        }

        image.appendChild(preview);
        image.appendChild(newInput);
        image.appendChild(br);
        image.appendChild(br1);


        
    }


</script>





{% endblock %}