{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'dealer_sample/vendors/mdi/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'dealer_sample/vendors/css/vendor.bundle.base.css'%}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'dealer_sample/css/style.css'%}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'dealer_sample/images/favicon.ico'%}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div  class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                 <h1 style="text-align: center; color: purple;">Dealer Login</h1>
                </div>
                <h4>Hello! Mr. Dealer let's start</h4>
                <h6 class="font-weight-light">Sign in to continue.</h6>
                <form action="" method="POST" class="pt-3">
                    {% csrf_token %}
                  <div class="form-group">
                    <input name="username" type="text" class="form-control form-control-lg" id="exampleInputEmail1" required placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" required placeholder="Password">
                  </div>
                  <div class="mt-3">
                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" >SIGN IN</button>
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">
                 
                    {% for message in messages %}
                    <h4 style="color: red;">{{message}}</h4>
                    {% endfor %}
                  </div>
                  
                  
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'dealer_sample/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'dealer_sample/js/off-canvas.js'%}"></script>
    <script src="{% static 'dealer_sample/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'dealer_sample/js/misc.js'%}"></script>
    <!-- endinject -->
  </body>
</html>