{% extends "admin/base.html" %}
{% block content %}
{% load static %}



   <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-center py-4">
              <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Categories</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Categories</li>
                  </ol>
                </nav>
              </div>
              <div class="col-lg-6 col-5 text-right">
                <a href="{% url 'add_catogeries'%}" class="btn btn-sm btn-neutral">Add New Categories</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content -->
      <div class="container-fluid mt--6">
      
        <!-- Dark table -->
        <div class="row">
          <div class="col">
            <div class="card bg-default shadow">
              <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">{{dealer.shop_name}}</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="sort" data-sort="name">NO:</th>
                      <th scope="col" class="sort" data-sort="budget">Image</th>
                      <th scope="col" class="sort" data-sort="status">Categories name</th>
                      <th scope="col" class="sort" data-sort="status"></th>
                      <th scope="col" class="sort" data-sort="status"></th>
                      <th scope="col" class="sort" data-sort="status"></th>
                      <th scope="col" class="sort" data-sort="status"></th>
                  </thead>
                  <tbody class="list">
                   {% for catogeries in catogery%}
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <!-- <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                          </a> -->
                          <div class="media-body">
                            <span class="name mb-0 text-sm">{{catogeries.id}}</span>
                          </div>
                        </div>
                      </th>
                      <td class="budget">
                        <img alt="" width="50px" height="40px" src="{{catogeries.image.url}}">   
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <i class="bg-success"></i>
                          <span class="status">{{catogeries.cat_name}} </span>
                        </span>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                          <a  href="{% url 'delete_catogery' catogeries.id %}" >
                            <i style="color: red;" class="fas fa-trash"></i>
                          </a>
                          
                        </div>
                      </td>
                      <td class="text-right">
                        
                          <a class="btn btn-sm btn-icon-only text-light" href="{% url 'edit_catogeries' catogeries.id %}" >
                            <i style="color: royalblue; " class="fas fa-edit"></i>
                          </a>
                          
                        
                      </td>
                     
                     
                    </tr>
            {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Footer -->







{% endblock content %}