{% extends "admin/base.html" %}
{% block content %}
{% load static %}

<style>
.delete {
	padding-top: 5px;
}
</style>

 <!-- Header -->
 <div class="header bg-primary pb-6">
	<div class="container-fluid">
	  <div class="header-body">
		<div class="row align-items-center py-4">
		  <div class="col-lg-6 col-7">
			<h6 class="h2 text-white d-inline-block mb-0">Dealers</h6>
			<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
			  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
				<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Dealers</li>
			  </ol>
			</nav>
		  </div>
		  <div class="col-lg-6 col-5 text-right">
			<a href="{% url 'adddealer'%}" class="btn btn-sm btn-neutral"> Add New Dealer</a>
			
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
	<div class="row">
	  <div class="col">
		<div class="card">
		  <!-- Card header -->
		  <div class="card-header border-0">
			<h3 class="mb-0">Dealers </h3>
		  </div>
		  <!-- Light table -->
		  <div class="table-responsive">
			<table class="table align-items-center table-flush">
			  <thead class="thead-light">
				<tr>
				  <th scope="col" class="sort" data-sort="name">Shope name</th>
				  <th scope="col" class="sort" data-sort="budget">Location</th>
				  <th scope="col" class="sort" data-sort="status">Status</th>
				  <th scope="col">Phone number</th>
				  <th scope="col" class="sort" data-sort="completion">Open</th>
				  <th scope="col">close</th>
				  <th scope="col"></th>
				  <th scope="col"></th>
				  <th></th>

				</tr>
			  </thead>
			  {% for dealer in dealers%}
			  <tbody class="list">
				<tr>
				  <th scope="row">
					<div class="media align-items-center">
					  <a href="#" class="  mr-3">

						<img alt="" width="50px" height="40px" src="{{dealer.shop_image.url}}">
						
					  </a>
					  <div class="media-body">
						<span class="name mb-0 text-sm">{{dealer.shop_name}}</span>
					  </div>
					</div>
				  </th>
				  
				  <td class="budget">
					{{dealer.shop_location}},
					 {{ dealer.shop_place}}
				  <td>
					<span class="badge badge-dot mr-4">
					  <i class="bg-success"></i>
					  <span class="status">open</span>
					</span>
				  </td>
				  <td>
					{{ dealer.shop_number}}	
				  </td>
				  <td>
					{{dealer.shop_opening_time}}
				  </td>
				  <td>
					{{dealer.shop_closing_time}}
				  </td>
				  {% if dealer.user_id.is_active == 1%}
				  <td>
					<a class="btn btn- btn-deafualt" href="{% url 'block_dealer' dealer.id dealer.user_id.id%}"><i class="fas fa-lock"></i></a>
				  </td>
				  {% elif dealer.user_id.is_active == 0%}
				  <td>
					<a class="btn btn- btn-success" href="{% url 'unblock_dealer' dealer.id dealer.user_id.id%}"><i class="fas fa-lock-open"></i></a>
				  </td>
				  {% endif %}
				
				  <td >
					<a class="btn btn- btn-info" href="{% url 'edit_dealer' dealer.id dealer.user_id.id %}"><i class="fas fa-edit"></i></a>
				  </td>
				  <td >
					
					<a class="btn btn- btn-danger" href="#" data-toggle="modal" data-target="#{{dealer.shop_name}}"><i class="fas fa-trash-alt"></i></a>
			  </td>
				</tr>
			  </tbody>
			  	<!-- Modal -->
    <div class="modal fade" id="{{dealer.shop_name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Delete <i class="fas fa-minus-circle" style="color: red;"></i></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  Are you sure you want to delete the dealer?
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <a class="btn btn- btn-danger" href="{% url 'delete_dealer' dealer.id dealer.user_id.id %}">Delete</a>
			</div>
		  </div>
		</div>
	  </div>
	<!-- //m odel -->
			  {% endfor %}
			</table>
		  </div>
		
		  <!-- Card footer -->
		  <div class="card-footer py-4">
			<nav aria-label="...">
			  <ul class="pagination justify-content-end mb-0">
				<li class="page-item disabled">
				  <a class="page-link" href="#" tabindex="-1">
					<i class="fas fa-angle-left"></i>
					<span class="sr-only">Previous</span>
				  </a>
				</li>
				<li class="page-item active">
				  <a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
				  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
				  <a class="page-link" href="#">
					<i class="fas fa-angle-right"></i>
					<span class="sr-only">Next</span>
				  </a>
				</li>
			  </ul>
			</nav>
		  </div>
		</div>
	  </div>
	</div>

	<!-- Footer -->


  </div>
</div>



<script src="https://kit.fontawesome.com/3bdbffa8ff.js" crossorigin="anonymous"></script>
<script type="text/javascript">
	window.mytest = function() {var isValid = confirm('Are you sure do you want to delete');
	if (!isValid) {event.preventDefault(); alert("it won't delete!");}
	}
  
  </script>
  

{% endblock content %}