{% extends "admin/base.html" %}
{% block content %}
{% load static %}

<style>
.delete {
	padding-top: 5px;
}
</style>

 <!-- Header -->
 <div class="header bg-primary pb-6">
	<div class="container-fluid">
	  <div class="header-body">
		<div class="row align-items-center py-4">
		  <div class="col-lg-6 col-7">
			<h6 class="h2 text-white d-inline-block mb-0">Referral Offer</h6>
			
		  </div>
		  <div class="col-lg-6 col-5 text-right">
			
			
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
	<div class="row">
	  <div class="col">
		<div class="card">
		  <!-- Card header -->
		  <div class="card-header border-0">
			<h3 class="mb-0">Users </h3>
		  </div>
		  <!-- Light table -->
		  <div class="table-responsive">
			<table class="table align-items-center table-flush">
			  <thead class="thead-light">
				<tr>
                  <th scope="col" class="sort" data-sort="name">Id</th>
				  <th scope="col" class="sort" data-sort="name">Name</th>
				  <th scope="col" class="sort text-center" data-sort="budget">Email </th>
				  <th scope="col" class="sort text-center" data-sort="status">Mobile </th>
				  <th scope="col" class="sort" data-sort="completion"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
				  

				</tr>
			  </thead>
			  
			  <tbody class="list">
                  {% for users in user%}
				<tr>
                    <td>
                        {{users.id}}
                      </td>
                      
				  <td>
                    {{users.username}}
				  </td>
				  
				  <td class="budget text-center">
                  {{users.email}}
				  </td>
				 
				  <td class="budget text-center">
					{{users.last_name}}
                  </td>
                  
				{% if users.is_active == 1%}
				  <td >
					<a href="{% url 'block_user' users.id %}" class="btn  btn-primary"> Block user</a>
                  </td>
                {% elif users.is_active == 0 %}
                <td >
					<a href="{% url 'unblock_user' users.id %}" class="btn  btn-success"> Unblock user</a>
                  </td>
                  {% endif %}

				 
				  <td >
					<a href="{% url 'edit_user' users.id%}" class="btn  btn-info"> Edit user</a>
				  </td>
				  <td >
                    <a href="" class="btn  btn-danger" data-toggle="modal" data-target="#{{users.username}}"> Delete user</a>
                    	<!-- Modal -->
    <div class="modal fade" id="{{users.username}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Delete <i class="fas fa-minus-circle" style="color: red;"></i></h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  Are you sure you want to delete the user?
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <a class="btn btn- btn-danger" href="{% url 'delete_user' users.id%}">Delete</a>
			</div>
		  </div>
		</div>
	  </div>
	<!-- //m odel -->
				  </td>
				 
                </tr>
                {% endfor %}
			  </tbody>
			</table>
		  </div>
		
		  <!-- Card footer -->

		</div>
	  </div>
	</div>

	<!-- Footer -->


  </div>
</div>



<script src="https://kit.fontawesome.com/3bdbffa8ff.js" crossorigin="anonymous"></script>
<script type="text/javascript">
	window.mytest = function() {var isValid = confirm('Are you sure do you want to delete');
	if (!isValid) {event.preventDefault(); alert("it won't delete!");}
	}
  
  </script>
  

{% endblock content %}